.form-section {
    /* background: linear-gradient(to left, #f6f6f6 0%, #f6f6f6 50%, #ff6543 50%, #ff6543 100%); */
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: #f6f6f6;
}
/* form */
.form {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 40px;
    background: #f6f6f6;
}
.form-input {
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #929292;
    padding-left: 10px;
    border-radius: 5px ;
}
/* .form-title {
    color: white;
} */
textarea {
    width: 250px;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #929292;
    padding-left: 10px;
    padding-top: 5px;
    font-family: Roboto, sans-serif;
    border-radius: 5px ;
}

.submit-btn {
    font-size: 14px;
    line-height: 28px;
    width: 180px;
    font-weight: 400;
    padding: 5px 20px;
    font-family: Roboto, sans-serif;
    background: #ff4b52;
    color: white;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
}

.submit-btn:hover {
    color: white;
    background-color: #da1616;
    transition: 500ms ease-in-out;
}

/* Contact info */
.contact-info {
    padding: 10px 20px;
}
.contact-info > p {
    margin-top: 10px;
    max-width: 280px;
}
.side-logos {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-logo {
    height: 70px;
    max-width: 140px;
    padding: 10px;
}

@media (min-width: 768px) {
    .form-input {
        width: 350px;
        height: 40px;
    }
    textarea  {
        width: 350px;
    }
    .logos-row {
        flex-direction: row;
    }
    .contact-info {
        padding: 50px 10px 40px 10px;
    }
    .form {
        padding-top: 50px;
    }
}