.sale {
    width: 100%;
    max-height: 900px;
    background: url(/public/images/Sale.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    background-color: #ff6543;
    padding: 50px 0;
}
.sale-content {
    max-width: 280px;
    min-height: 200px;
    margin: 10px 20px;
    padding: 10px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sale-title {
  color: white;
}
.sale-description {
    margin-bottom: 5px;
}
.sale-off {
    font-size: 36px;
    font-weight: 800;
    margin-right: 5px;
}
.discount-container {
    display: flex;
}
.discount {
    display: flex;
    flex-direction: column;
}

