/* hero section */

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.hero-content {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
   
}
.hero-section {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.hero-btn {
    font-size: 14px;
    line-height: 28px;
    width: 180px;
    font-weight: 400;
    margin-left: 20px;
    padding: 5px 20px;
    font-family: Roboto, sans-serif;
    background: #ff4b52;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}
.hero-btn:hover {
    background: #f6c831;
    transition: 300ms ease-in-out;
}
.hero-btn:focus {
    outline: none;
}

.hero-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.hero-title {
    font-size: 30px;
}


@media (min-width: 768px) {
    .hero-btn {
        font-size: 18px;
    }
    .hero-title {
        font-size: 40px;
    }
}

