/* hero section */

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.hero-content {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hero-section {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero-btn {
    font-size: 14px;
    line-height: 28px;
    width: 180px;
    font-weight: 400;
    margin-left: 20px;
    padding: 5px 20px;
    font-family: Roboto, sans-serif;
    background: #ff4b52;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.hero-btn:hover {
    background: #f6c831;
    transition: 300ms ease-in-out;
}

@media (min-width: 768px) {
    .hero-btn {
        font-size: 18px;
    }
}

