.about {
    width: 100%;
    max-height: 900px;
    background: url(/public/images/about.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    display: flex;
    background-color: #f6f6f6;
    padding: 50px 0;
}
.about-container {
    min-height: 220px;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about-btn {
    font-size: 14px;
    line-height: 28px;
    width: 180px;
    font-weight: 400;
    padding: 5px 20px;
    font-family: Roboto, sans-serif;
    background: #ff4b52;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.about-btn:hover {
    background-color: #ffc83b;
    transition: 200ms ease-in-out;
}
.about-img {    
    width: 100%;
}
.about-img:hover {    
    transform: scale(120%);
    transition: 100ms ease-in-out;
}


@media (min-width: 768px) {
    .about-container {
        min-height: 350px;
    }
  
}
